<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Details</title>
</head>
<body>
    <%- include('../partials/navbar.ejs') %>
    <h1>Book Details</h1>

    <p><%= Book.title %></p>
    <p></p>


    <form action="/all-books/<%= Book._id %>?_method=DELETE" method="POST">
        <button class="btn" id="delete-btn">Delete</button>
    </form>
    <form action="/all-books/<%= Book._id %>/edit" method="GET">
        <button class="btn" id="edit-btn">Edit</button>
    </form>
</body>
</html>