<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <%- include('./partials/navbar.ejs') %>
    
    <main id="home">
            <img src="/assets/BookIcon.png" alt="Book Icon" id="bookIcon">
            <h1>Welcome to Our Book Store!</h1>
            <p>Where Every Book Brings a New Adventure</p>
            
            <a href="/all-books" id="browse-btn">Browse All Books</a>
    </main>
</body>
</html>