@import url('https://fonts.googleapis.com/css2?family=Alice&family=Cinzel+Decorative:wght@400;700;900&family=Cinzel:wght@400..900&family=Henny+Penny&family=IM+Fell+English:ital@0;1&family=Londrina+Shadow&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Unkempt:wght@400;700&display=swap');

* {
    --brown : #3D2B1F;
    --green : #8E9680;
    --pink : #A37C76;
    --orange : #D9B382;
    --cream : #eae3d9;

    /* Shadows */
    --brown_s : rgba(61, 43, 31, 0.5);
    --green_s : rgba(142, 150, 128, 0.5);
    --pink_s : rgba(163, 124, 118, 0.5);
    --orange_s : rgba(217, 179, 130, 0.5);
    -webkit-tap-highlight-color: transparent;
}
html, body {
    margin: 0;
    min-height: 100vh;

    display: flex;
    flex-direction: column;

    background-color: var(--cream);

    font-family: "Old Standard TT", system-ui;
    color: var(--brown)
}
nav{
    background-color: var(--brown);
    padding: 1.2%;
}
nav a {
    text-decoration: none;
    color: var(--cream);
    padding: 0.8%;
}
main{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 1%;
}
.btn{
    font-family: "Old Standard TT", system-ui;
    font-size: 1rem;

    border: none;
    border-radius: 1rem;

    padding: 0.35rem;

    box-sizing: border-box;
}
.btn:hover{
    cursor: pointer;
}

/* Home Page */
#home{
    margin-top: 0;

    /* background: linear-gradient(var(--brown) 0%, #918378 70% ,var(--cream) 100%); */

    justify-content: center; 
    line-height: 0.3;
}
#bookIcon{
    width: 15%;
    margin-bottom: 1rem;
}
#home h1{
    font-size: 4rem;
}
#home p{
    font-size: 1.3rem;
}
#browse-btn{
    text-decoration: none;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
    font-size: 1rem;
    color: var(--brown);

    background-color: var(--orange);
    border-radius: 1rem;
    box-shadow: 0 0.2rem var(--orange_s);

    padding: 0.5%;
    margin-top: 1rem;

    height: 1rem;
    width: 15%;
}

/* All Books */
#all-books{
    justify-content: flex-start;
}
#all-books h1{
    font-size: 3rem;
    margin-bottom: 1.5rem;
}
#all-cards{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
    flex-wrap: wrap;
}
.card{
    text-decoration: none;
    width: 15rem;
    height: 20rem;

    /* background-color: var(--brown); */
    border: 0.3rem solid var(--brown);
    box-shadow: 0 0.25rem var(--brown_s);
    border-radius: 2rem;
    color: var(--cream);
    
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    text-align: center;

    margin: 1%;
    padding: 0.5rem;
    padding-bottom: 0;

    line-height: 1;

    box-sizing: border-box;
}
.card:hover{
    box-shadow: 0 .8rem 1rem rgba(0,0,0,.2);
}
.icon-header{
    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
    font-size: 6rem;

    margin-bottom: 1rem;
}
.icon-header p {
    margin: 0;
    color: var(--brown);
}
.title{
    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
}
.title p {
    color: var(--brown);

    font-weight: 600;
    font-size: 1.3rem;
}
.by{
    text-align: center;
    color: var(--brown)
}
.author {
    font-weight: 600;
}
.isInStore{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    margin: 0;
    margin-top: 1rem;
}
.in-store, .not-in-store{
    color: var(--cream);
    border-radius: 2rem;

    font-size: 1rem;
    padding: 0.2rem;
} 
.in-store{
    background-color: var(--green);
    width: 8rem;
}
.not-in-store{
    background-color: var(--pink);
    width: 8rem;
}

footer{
    display: flex;
    justify-content: flex-end;
    align-items: center;

    margin-top: auto;
}
footer a {
    text-decoration: none;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
    font-weight: bold;
    color: var(--cream);
    font-size: 2rem;
    
    background-color: var(--green);
    border-radius: 4rem;
    box-shadow: 0 0.2rem var(--green_s);

    height: 2.5%;
    width: 2.5%;
    aspect-ratio: 1;

    padding: 1%;
    margin: 2%;
}

/* Add Book & Book Details & Update Book*/
#new-book, #update{
    justify-content: center;
}
#details {
    justify-content: flex-start;
}

#new-book h1, #details h1, #update h1{
    font-size: 3rem;
    margin-bottom: 1.5rem;
}

/* Form */
.form-card{
    width: 50rem;
    height: 30rem;

    color: var(--brown);
    
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;

    text-align: center;

    margin: 1rem;
    margin-top: 0;
    padding: 1.3rem;
    padding-bottom: 0;

    line-height: 1;

    box-sizing: border-box;

    font-size: 1rem;
}
.form-card form{
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    font-size: 1.05rem;
}
.form-group{
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 0.5rem;
}
.form-group label{
    width: 25%;
    text-align: right;
    margin-right: 1rem;
}
.form-group input[type="text"],
.form-group input[type="number"],
.form-group select,
.form-group textarea{
    width: 70%;

    font-size: 1rem;
    font-family: "Old Standard TT", system-ui;
    color: var(--brown);

    border: 0.05rem solid var(--brown);
    border-radius: 1.05rem;

    padding: 0.3rem;
}
.btns-group{
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    gap: 1.5rem;
}

#add-btn{
    background-color: var(--green);
    box-shadow: 0 0.2rem var(--green_s);
    
    color: var(--cream);

    width: 5rem;
}

#cancel-btn{
    text-decoration: none;

    color: var(--pink);
}

/* Details */
#details h1 a {
    text-decoration: none;
    color: var(--brown);
}
#details .form-card{
    height: auto;
    min-height: 25rem;

    align-items: center;
}
#details .form-card p{
    width: 100%;
    margin: .6rem 0;
    font-size: 1.1rem;
    text-align: left;
}
.btns-group-details{
display: flex;
justify-content: center;
align-items: center;

gap: 1.5rem;
}

.detail-label{
    font-weight: 600;
    color: var(--brown_s);
}
#yes{
    color: var(--green);
    font-weight: 600;
}
#no{
    color: var(--pink);
    font-weight: 600;
}
#delete-btn{
    background-color: var(--pink);
    box-shadow: 0 0.2rem var(--pink_s);
    
    color: var(--cream);

    width: 5rem;
}
#edit-btn{
    background-color: var(--orange);
    box-shadow: 0 0.2rem var(--orange_s);
    
    color: var(--cream);

    width: 5rem;
}





